.scene {
  width: 50px;
  height: 50px;
  border: 1px solid #CCC;
  margin: 40px;
  perspective: 100px;
}
@keyframes rotateCube {
  from {
    transform: rotateX(360deg) rotateY(0deg) rotateZ(0deg);
  }
  to {
    transform: rotateX(0deg) rotateY(360deg) rotateZ(360deg);
  }
}

@keyframes diceFront {
  100% {
    transform: translateZ(-25px) rotateX(360deg) rotateY(360deg);
  }
}

@keyframes diceRight {
  100% {
    transform: translateZ(-25px) rotateX(360deg) rotateY(270deg);
  }
}
@keyframes diceBack {
  100% {
    transform: translateZ(-25px) rotateX(360deg) rotateY(180deg);
  }
}
@keyframes diceLeft {
  100% {
    transform: translateZ(-25px) rotateX(360deg) rotateY(450deg);
  }
}
@keyframes diceTop {
  100% {
    transform: translateZ(-25px) rotateX(270deg) rotateY(360deg);
  }
}
@keyframes diceBottom {
  100% {
    transform: translateZ(-25px) rotateX(450deg) rotateY(360deg);
  }
}

.cube {
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
}
.cube.cube-roll {
  animation: rotateCube .5s infinite linear normal;
}
.cube.face-1 {
  animation: diceFront .5s forwards linear;
}
.cube.face-2 {
  animation: diceBack .5s forwards linear;
}
.cube.face-3 {
  animation: diceLeft .5s forwards linear;
}
.cube.face-4 {
  animation: diceRight .5s forwards linear;
}
.cube.face-5 {
  animation: diceTop .5s forwards linear;
}
.cube.face-6 {
  animation: diceBottom .5s forwards linear;
}

.cube__face {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  line-height: 50px;
  font-size: 10px;
  font-weight: bold;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube__face--front  {
  background: hsla(0, 100%, 50%, 0.7);
  transform: rotateY(0deg) translateZ(25px);
}
.cube__face--right  {
  background: hsla(0, 100%, 50%, 0.7);
  transform: rotateY( 90deg) translateZ(25px);
}
.cube__face--back   {
  background: hsla(0, 100%, 50%, 0.7);
  transform: rotateY(180deg) translateZ(25px);
}
.cube__face--left   {
  background: hsla(0, 100%, 50%, 0.7);
  transform: rotateY(-90deg) translateZ(25px);
  display: block;
}
.cube__face--top    {
  background: hsla(0, 100%, 50%, 0.7);
  transform: rotateX(90deg) translateZ(25px);
  display: block;
}
.cube__face--bottom {
  background: hsla(0, 100%, 50%, 0.7);
  transform: rotateX(-90deg) translateZ(25px);
}

.dot {
    background-color: #fff;
    width: .2em;
    height: .2em;
    border-radius: .1em;
    box-shadow: 0 0 .02em #000;
    font-size: 35px;
}
.flex-column {
    -ms-flex-direction: column!important;
    flex-direction: column!important
}

.flex-wrap {
    -ms-flex-wrap: wrap!important;
    flex-wrap: wrap!important
}

.justify-content-center {
    -ms-flex-pack: center!important;
    justify-content: center!important
}

.justify-content-between {
    -ms-flex-pack: justify!important;
    justify-content: space-between!important
}

.align-items-stretch {
    -ms-flex-align: stretch!important;
    align-items: stretch!important
}

.align-self-start {
    -ms-flex-item-align: start!important;
    align-self: flex-start!important
}

.align-self-end {
    -ms-flex-item-align: end!important;
    align-self: flex-end!important
}

.align-self-center {
    -ms-flex-item-align: center!important;
    align-self: center!important;
}

.w-50 {
    width: 50%!important;
}

.w-100 {
    width: 100%!important;
}

.m-2 {
    margin: .5rem!important;
}

.m-2.half {
  margin: .25rem!important;
}

.m-auto {
    margin: 3px auto!important;
}

.mr-auto {
    margin-right: auto!important;
}
