@keyframes dice {
    0% {
      transform: translateZ(-100px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: translateZ(-100px) rotateX(180deg) rotateY(180deg);
    }
    100% {
      transform: translateZ(-100px) rotateX(360deg) rotateY(360deg);
    }
  }
  